section {
    margin: 10px 0;
}
.home {
    // background-color: rgba(36, 12, 16, 0.397);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    &_content {

        display: flex;

        p{
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
            color: #b0b0b0;
        }
        span {
            color: #0e0d0d;
        }
        img {
            width: 30%;
        }
        .btn {
            // width: 100%;

            button {
                text-align: center;
                border: 1px solid grey;
                color: black;
                padding: 10px 30px;
                border-radius: 10px;
                background: transparent;
                outline: none;
                font-weight: 600;
            }
            button:focus{
              outline: none;
            }
        }
    }
}
.about {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../images/Linkitsoft-profile-CV-29.png");
    background-position: center;
    background-size: cover;
    position: relative;
        p {
            margin: 0;
        }
        padding: 0 30px;

        &_content {
            .heading{
                padding: 30px 0;
                font-size: 3rem;
                font-weight: 500;
                text-align: left;
            }
            .text{
                font-size: 27px;
                padding: 20px 0px;

                font-weight: 200;
                text-align: left;
                // margin: 20px 0;
            }
    
        }

        &_experience {

            span {
                color: rgb(209, 84, 84);
                font-style: italic;
            }
            .exp {
                font-size: 17px;
                font-weight: 600;

            }
            .date{
                font-size: 17px;
                font-weight: 200;
                text-align: left;
                margin-bottom: 20px !important;
            }
        }
}
.expSection {
        p {
            margin: 0;
        }
        // padding: 0 30px;

        .heading{
            padding: 30px 0;
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
        }
        &_content {
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            .text{
                font-size: 17px;
                font-weight: 200;
                text-align: left;
            }
    
        }

        &_experience {

            border: 1px solid gray;
            padding: 10px 20px;
            border-radius: 10px;

            span {
                color: rgb(209, 84, 84);
                font-style: italic;
            }
            .exp {
                font-size: 17px;
                font-weight: 600;

            }
            .date{
                font-size: 17px;
                font-weight: 200;
                text-align: left;
                margin-bottom: 20px !important;
            }
        }
}
.mindset {
        p {
            margin: 0;
        }
        margin: 150px 30px;

        .heading{
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
        }

        &_singleItem {

            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid gray;
            padding: 45px 0px;

            .text {
                width: 70%;
            }

            .heading{
                font-size: 20px;
                font-weight: 500;
                text-align: left;
            }
            .text{
                font-size: 17px;
                font-weight: 200;
                text-align: left;
            }
        }

        &_photo {
            img {
                width: 50%;
                margin: auto;
            }
        }
}
.client {
        p {
            margin: 0;
        }
        padding: 0 30px;

        img {
            width: 100%;
        }
        
        .heading{
            padding: 30px 0;
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
        }
    }

.projects {

        margin: 100px 30px;

        .heading{
            padding: 30px 0;
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
        }
        &_images {          

           img {
            width: 30%;
            margin-right: 20px;
            margin-top: 20px;
            // margin: 0 10px;
           }
        }
    }

.skills {

        margin: 100px 30px;
        display: flex;
        gap: 150px;

        &_left {
            width: 50%;
            .specialtext {
                color: gray;
                font-style: italic;
            }
        }
        &_right {
            margin-left: 20px;
            width: 100%;
        }
        .heading{
            padding: 30px 0;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: left;
        }
        .subheading{
            padding: 30px 0;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: left;
        }
        &_images {          

           img {
            width: 30%;
            margin-right: 20px;
            margin-top: 20px;
            // margin: 0 10px;
           }
        }
        &_single {
            width: 20%;
            img {
                width: 80px;
            }
            p {
                color: #444444;
                font-weight: 700;
                text-align: center;
            }
        }

        &_all {
            display: flex;
            gap: 70px;
            flex-wrap: wrap;
        }

        &_content {
            .heading {
                font-size: 12px !important;
                font-weight: 500;
                width: 30%;
            }
            .text {
                font-size: 15px;
                width: 70%;
                font-weight: 700;

                p {
                    margin: 0;
                }
            }
        }

        &_singleItem {
            border-top: 1px solid gray;
            display: flex;
            align-items: center;
            gap: 40px;

            .small {
                font-size: 15px;
                color: gray;
                font-weight: 400;
            }
            // justify-content: space-between;

            // .text {
            //     margin-left: 100px;
            // }
        }

        &_photo {
            text-align: right;
            img {
                width: 30%
            }
        }
    }
   

.contact {

        margin: 100px 30px;
        display: flex;
        gap: 150px;
        min-height: 70vh;

        &_left {
            width: 100%;

            .specialtext {
                color: gray;
                font-style: italic;
            }
        }
        &_right {
            margin-left: 20px;
            width: 100%;
        }
        &_info {
            border-top: 1px solid gray;
            padding: 30px 0;
            display: flex;
            align-items: center;
            gap: 40px;
            p {
                margin: 0;
                font-size: 17px;
            }
            img {
                width: 50px;
            }
            .email {
                font-weight: 600;
            }
        }
        .heading{
            padding: 30px 0;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: left;
        }
        .subheading{
            padding: 30px 0;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: left;
        }
        &_images {          

           img {
            width: 30%;
            margin-right: 20px;
            margin-top: 20px;
            // margin: 0 10px;
           }
        }
        &_single {
            width: 20%;
            img {
                width: 80px;
            }
            p {
                color: #444444;
                font-weight: 700;
                text-align: center;
            }
        }

        &_all {
            display: flex;
            gap: 70px;
            flex-wrap: wrap;
        }

        &_content {
            .heading {
                font-size: 12px !important;
                font-weight: 500;
                width: 30%;
            }
            .text {
                font-size: 15px;
                width: 70%;
                font-weight: 700;

                p {
                    margin: 0;
                }
            }
        }

        &_singleItem {
            border-top: 1px solid gray;
            display: flex;
            align-items: center;
            gap: 40px;

            .small {
                font-size: 15px;
                color: gray;
                font-weight: 400;
            }
            // justify-content: space-between;

            // .text {
            //     margin-left: 100px;
            // }
        }

        &_photo {
            text-align: left;
            img {
                width: 50%
            }
        }

        &_inputSection {
            position: relative;
            text-align: center;
            margin-top: 100px;

            img {
                width: 500px;
            }
        }

        &_inputBox {

            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            right: 25%;
            width: 50%;

            input {
                border: none;
                padding: 18px;
                margin: 10px 0;
                background: transparent;
                border-bottom: 1px solid gray;
                outline: none;
            }

        }
        &_btnSnd {
            width: 100%;
            text-align: center;
            margin: 10px 0;
            img {
                width: 60px !important;
            }
        }
    }
   @media (max-width: 1000px) {
    .home_content p {
        font-size: 2rem;
    }
   }

//    contact
   @media (max-width: 600px) {
    .contact {
        flex-direction: column;
    }
    .contact_inputSection {
        margin-top: 0;
    }
    .contact_right {
       margin-left: 0;
    }
    .contact {
        gap: 50px;
    }
    .contact_photo {
        text-align: center;
    }
   }

//    skills
   @media (max-width: 700px) {
    .skills {
        flex-direction: column;
    }
    .skills_left {
       width: 100%;
    }
    .skills_single p {
        margin-top: 20px;
    }
    .skills_single img {
        width: 98px;
    }
    .skills_right {
        margin-left: 0;
    }
    .skills_single p {
        text-align: left;
    }
    .skills_single {
        width: 24%;
    }
   }

//    projects
   @media (max-width: 600px) {
    .projects_images img {
        width: 45%;
    }
    .home_content {
        flex-direction: column;
    }
    .home_content img {
        width: 58%;
        margin-top: 33px;
    }
   }