.App {
    font-family: sans-serif;
  }

  ul {
    list-style: none;
  }
  li {
    margin: 10px;
    padding: 10px 0;
  }
  a {
    color: white;
  }
  .isCurrent {
    /* font-weight: bold; */
    background-color: #f1a07a;
  }
  
  .isCurrent a, h2 {
    color: #f1a07a;
  }