body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
    font-family: sans-serif;
  }
  .scrollspy {
    /* position: fixed;
    top: 0;
    right: 0 */
  }
  ul {
    list-style: none;
  }
  li {
    margin: 10px;
    padding: 10px 0;
  }
  a {
    color: white;
  } 

  .isCurrent  a{
    color: #fff !important;
    border-radius: 10px;
    padding: 10px 0px !important;
    display: inline-block;
    position: relative;

}
  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .isCurrent a:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }